button {
    background-color: #00c774;
    border-radius: 12px;
    font-size: 16px;
    cursor: pointer;
    margin: 1em;
    padding: 10px 20px;
    outline: none;
    -webkit-tap-highlight-color: transparent;
}
  
.cancel-ripple {
    background-position: center;
    transition: background 0.8s;
  }

.cancel-ripple:hover {
    background: #e60000 radial-gradient(circle, transparent 1%, #eb5050 1%) center/15000%;
  }
  
.cancel-ripple:active {
    background-color: #eb5050;
    background-size: 100%;
    transition: background 0s;
  }
  

input {
    border-radius: 12px;
    border-color: lightgray;
    width: 80%;
    padding: 8px;
    margin: 0;
}

.error-text {
    margin: 2px;
    color: #e60000;
    font-size: 12px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.spacer {
    margin: 2px;
    height: 16px;
}

.error-input {
    border-color: #e60000;
}

.user-pass-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-pass-input {
  width: 270px;
}

@media (max-width: 479px) {
  .user-pass-input {
    width: 300px;
  }
}