.table-container {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
}

.table-header {
    display: flex;
    justify-content: space-between;
    padding-left: 1rem;
    padding-right: 1rem;
}

.table-rows {
    display: flex;
    justify-content: space-between;
    padding-left: 1rem;
    padding-right: 1rem;
}

.table-delete-user {
    color: red;
    cursor: pointer;
}