.success-group {
    display: flex;
    flex-direction: row;
    justify-content: center;

    .border-success-icon {
        border-radius: 40px;
        background-color: white;
        height: 1.5rem;
        width: 1.5rem;
        align-self: center;
        padding: 0 5px 0 5px;
    }

    .garage-success-text {
        color: #055219;
        align-self: center;
        margin: 0;
    }
}

.device-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 0 1rem 0;
    align-items: center;

    .device-text {
        font-weight: bold;
        margin: 0 0.5rem 0.5rem 0;
    }
}

.door-input-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 1rem;
    margin-top: 0.5rem;

    .door-name {
        width: 90%;
    }
}

.add-garage-preferred-row {
    display: flex;
    flex-direction: row;
    margin-left: 1rem;
    margin-top: 0.5rem;
}

.add-garage-actions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 4px;

    .add-garage-action {
        display: flex;
        align-items: center;
        flex-direction: row;
        cursor: pointer;
    }

    .add-garage-cancel {
        color: #ff6666 !important;
    }

    .add-garage-save {
        color: #00c774 !important;
    }
}
