.success-text {
    color: #055219;
    align-self: center;
    /* margin-left: 0.25rem; */
    /* margin-right: 0.25rem; */
}

.device-text {
    margin-left: 1rem;
}


.device-group {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 0 0 16px;
}

.device-row {
    display: flex;
    flex-direction: row;
    margin-top: 0.5rem;
}