.garage-success-text {
    color: #055219;
    align-self: center;
}

.border-success-icon {
    border-radius: 40px;
    background-color: white;
    height: 1.5rem;
    width: 1.5rem;
    align-self: center;
}

.device-text {
    font-weight: bold;
    margin: 0 0.5rem 0.5rem 0;
}

.device-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 0 1rem 0;
}

.device-row {
    display: flex;
    flex-direction: row;
    margin-top: 0.5rem;
}

.door-input-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 1rem;
    margin-top: 0.5rem;
}

.door-name {
    width: 90%;
}

