.weather-icon {
    height: 200px;
}

.home-icon {
    width: 200px;
}

@media (max-width: 479px) {
    .temp-container {
        display: flex;
    }
    .weather-icon {
        height: 150px;
        object-fit: contain;
    }
    .home-icon {
        padding-top: 4rem;
        height: 75px;
        object-fit: contain;
    }
}