.auto-open-menu {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    width: 275px;
    height: 140px;
    position: absolute;
    z-index: 10;
    top: 100%;
    left: 30%;
    box-shadow: 0px 0px 1px 5000px rgba(0,0,0,0.7);

    .location-close-icon {
        cursor: pointer;
        align-self: flex-end !important;
        color: grey;
        margin: 1rem 1rem 0 0;
    }

    .location-menu-group {
        display: flex;
        flex-direction: column;

        .auto-open-text {
            align-self: center;

            &.reduce-margin {
                margin: 0.5rem;
            }
        }

        .auto-open-button {
            width: 100%;
        }
    }
}

@media (max-width: 687px) {
    .auto-open-menu {
        top: 350%;
        left: 18%;
    }
}
