.garage-panel {
    box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 3px 2px rgba(0,0,0,0.12) !important;

    .door-groups {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        padding: 8px 15px 8px 15px;
    }

    .logo-image {
        height: 90px
    }
}

.garage-disconnected {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem 0;

    .garage-disconnected-icon {
        color: red;
        font-size: 1.5rem !important;
    }
}

.garage-header-alert-icon {
    color: #ff9800;
    font-size: 1rem !important;
    margin-left: 0.25rem;
    vertical-align: middle;
}

.status-text-bold {
    font-weight: bold;
    margin: 0 0.5rem 0.5rem 0;
}

.status-text {
    font-size: 0.8rem;
    margin: 0rem 0.5rem 0 0;
}

@media (max-width: 479px) {
    .MuiExpansionPanelActions-root {
        justify-content: center !important;
    }
}
