
.alarm-time-divider {
    width: 85%;
    align-self: center;
}

.alarm-setting-group {
    display: flex;
    flex-direction: row;
}

.alarm-time {
    margin: 0;
    font-size: 2rem;
    align-self: center;
}

.alarm-row {
    flex: 1;
}