.activities-body {
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    border-radius: 0 0 20px 20px;
}

@media (min-width: 480px) {
    .activities-body {
        min-width: 615px;
    }

    .add-task-container {
        display: flex;
        justify-content: flex-end;
        padding: 0 1rem 1rem 0;
    }
}

@media (max-width: 479px) {
    .settings-button-group {
        display: flex;
        justify-content: center;
    }

    .activities-body {
        margin-top: 69px;
        position: absolute;
        left: 0;
        right: 0;
        width: 100%;
        border-radius: 0px 0px 12px 12px;
    }

    .add-task-container {
        right: 43%;
        bottom: 2%;
        position: fixed;
    }
}

.tasks-button-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
}

.task-button-container {
    display: flex;
    align-items: center;
    flex-direction: row;
    cursor: pointer;
}

.task-button {
    height: 2rem !important;
    width: 2rem !important;
}

.activites-wrapper {
    margin: 1rem;
}

.edited {
    color: cornflowerblue;
}

.alarm-time-divider {
    width: 85%;
    align-self: center;
}

.alarm-setting-group {
    display: flex;
    flex-direction: row;
}

.alarm-time {
    margin: 0;
    font-size: 2rem;
    align-self: center;
}

.alarm-row {
    flex: 1;
}

.add-task-button-border {
    height: 3.4rem;
    width: 3.4rem;
    border-radius: 2rem;
    justify-content: center;
    display: flex;
    align-items: center;
    background-color: white;
    box-shadow: 0px 10px 15px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0.12)
}

.task-delete {
    color: #ff6666;
}

.add-task-button-plus {
    height: 3rem !important;
    width: 3rem !important;
    color: white;
}

.add-task-button {
    display: flex;
    justify-content: center;
    border-radius: 2rem;
    height: 2.9rem;
    width: 2.9rem;
    background-color: #00c774;
}

.add-task-button:active {
    transition: linear 80ms;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
 }

 .task-switch {
     margin-left: 5rem;
 }

 .alarm-summary-panel {
     display: flex;
     flex-direction: column;
     flex: 100%;
 }

 .MuiExpansionPanelDetails-root {
     padding: 8px 18px 8px 18px !important;
 }

 .task-room-picker-row {
     margin: 0 0 1rem 1rem !important;
 }
 
