.home-body {
    background-color: white;
    color: black;
    border-radius: 0 0 20px 20px;

}

@media (min-width: 480px) {
    .home-body {
        display: flex;
    }    
}

@media (max-width: 479px) {
    .home-body {
        position: absolute;
        left: 0;
        right: 0;
        margin-top: 90px;
    }

    .center {
        height: 100%;
    }
}