.home-main {
    flex-direction: column;
    position: relative;
}

.home-header {
    border-radius: 20px 20px 0px 0px;
    display: flex;
    background-color: #00c774;
    padding: 1rem;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.header-logo-text {
    margin-left: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-header-text {
    margin: 0 2rem 0 2rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
}

.home-body {
    background-color: white;
    color: black;
    display: flex;

    min-height: 700px;
    min-width: 500px;
    border-radius: 0px 0px 12px 12px;
}

.test {
    position: absolute;
    right: 78%;
    bottom: 88%
}

.logo-image {
    height: 75px;
}

.logo-background {
    border-radius: 45px;
    height: 90px;
    width: 90px;
}

.white-header {
    height: 100px;
    width: 100px;
}

.center {
    flex-direction: column;
    display: flex;
    justify-content: center;
    flex: 1;
}

.summary {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.panel {
    margin: 0.75rem;
}

.panel-text {
    margin-left: 1rem !important;
}