.settings-body {
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    border-radius: 0 0 20px 20px;
}

@media (min-width: 480px) {
    .settings-body {
        min-width: 615px;
    }
}

@media (max-width: 479px) {
    .settings-button-group {
        display: flex;
        justify-content: center;
    }
}


.test {
    left: auto;
    top: auto;
}

.settings-wrapper {
    margin: 1rem;
}

.settings-group {
    display: block;
    flex: 1;
    margin: 0.5rem;
}

.settings-text {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
    padding-right: 0.5rem;
}

.settings-row {
    display: flex;
    flex-direction: row;
    margin-left: 1rem;
}

.cancel {
    background-color: #c73200;
}