.settings-body {
    background-color: white;
    color: black;
    display: flex;
    min-width: 650px;
    flex-direction: column;
    border-radius: 0 0 20px 20px;
}

.test {
    left: auto;
    top: auto;
}

.settings-wrapper {
    margin: 1rem;
}

.settings-group {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
    display: block;
    flex: 1;
    margin: 0.5rem;
}

.settings-row {
    display: flex;
    flex-direction: row;
}