.light-group {
    display: flex;
    align-items: center;
}

.light-chevron {
    border-radius: 50%;
    margin: 0.5rem;
    transition: transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.expanded {
    transform: rotate(90deg);
    transition: transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.light-group-expansion {
    border-color: darkgray;
    border-radius: 1px;
    margin-left: 3rem;
}

.light-text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 140px;
    font-size: 0.9rem;
}

.light-text-small {
    font-size: 0.75rem;
    width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.brightness-image {
    height: 1rem;
}