.account-container {
    cursor: pointer;
}

.account-border {
    justify-content: center;
    display: flex;
    align-items: center;
    width: 45px;
    height: 45px;
    border-radius: 30px;
    background-color: white;
}

.account-center {
    width: 40px;
    height: 40px;
    border-radius: 25px;
    background-color: cornflowerblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
}

/* .user-head {
    height: 20px;
    width: 20px;
    border-radius: 10px;
    background-color: #174fe8;
    position: relative;
}  */

/* .user-shoulders {
    position: relative;
    bottom: 0.20rem;
    height: 25px;
    width: 40px;
    border-radius: 15px 15px 0px 0px;
    background-color: #3464eb;
    z-index: 1;
} */