button {
    background-color: #00c774;
    /* border: none; */
    border-radius: 12px;
    font-size: 16px;
    color: white;
    cursor: pointer;
    margin: 1em;
    padding: 10px 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

input {
    border-radius: 12px;
    background-color: lightgray;
    border-color: lightgray;
    width: 80%;
    padding: 8px;
    margin: 0;
}

.error-text {
    margin: 2px;
    height: 16px;
    color: #e60000;
    font-size: 12px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.spacer {
    margin: 2px;
    height: 16px;
}

.error-input {
    border-color: #e60000;
}