.account-container {
    cursor: pointer;
}

.account-border {
    justify-content: center;
    display: flex;
    align-items: center;
    width: 55px;
    height: 55px;
    border-radius: 30px;
    background-color: white;
}

.account-center {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background-color: cornflowerblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.user-head {
    height: 20px;
    width: 20px;
    border-radius: 10px;
    background-color: #174fe8;
    /* position: relative; */
    /* top: 0.25rem; */
    z-index: 10;
} 

.user-shoulders {
    position: relative;
    bottom: 0.20rem;
    height: 25px;
    width: 40px;
    border-radius: 15px 15px 0px 0px;
    background-color: #3464eb;
    z-index: 1;
}