.home-main {
    width: 100%;
    height: 100%;
    flex-direction: column;
    display: flex;
    flex: 1;
}

.home-header {
    display: flex;
    background-color: #00c774;
    padding: 1rem;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.home-header-text {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
}

.home-body {
    background-color: #282c34;
    color: white;
}

.logo-image {
    height: 60px;
}

.logo-background {
    border-radius: 40px;
    height: 75px;
    width: 75px;
}

.white-header {
    height: 81px;
    width: 81px;
}