.column {
    flex-direction: column;
    margin: 1em;
    text-align: center;
}

.login-menu {
    border-radius: 20px;
    background-color: white;
    min-height: 550px;
    min-width: 350px;
}

.login-header {
    padding: 1rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
    flex-grow: 1;
    border-radius: 20px 20px 0px 0px;
    background-color: #00c774;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-body {
    flex-grow: 10;
    border-radius: 0px 0px 12px 12px;
    background-color: white;
}

input {
    border-radius: 12px;
    border-style:solid;
    background-color: lightgray;
    border-color: lightgray;
    width: 80%;
    padding: 8px;
}

button {
    background-color: #00c774;
    border: none;
    border-radius: 12px;
    font-size: 16px;
    color: white;
    cursor: pointer;
    margin: 1em;
    padding: 10px 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.logo-image {
    height: 100px;
}

.logo-background {
    background-color: #ac7339;
    border-radius: 80px;
    width: 120px;
    height: 120px;
}

.white-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 80px;
    justify-content: center;
    width: 130px;
    height: 130px;
}