.table-container {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
}

.table-delete-user {
    color: lightgray;
    cursor: pointer;
    width: 2rem !important;
    height: 2rem !important; 
}

.table-delete-user:hover {
    color: red;
    cursor: pointer;
}

.table-add-user {
    color: #00c774;
    cursor: pointer;
    width: 2rem !important;
    height: 2rem !important; 
}

.table-end-item {
    flex-direction: row-reverse;
}

table {
    display: flex;
    justify-content: space-between;
}

td, tr, th {
    display: flex;
    flex: 1 1 0px;

}

tr {
    margin-top: 0.5rem;
}

.table-header {
    margin-top: 0.5rem;
}

input {
    background-color: white;
    border-color: lightgray;
}

input:focus {
    background-color: lightgray;
  }

.account-roles {
    justify-content: space-between;
}

.input-error {
    border-color: #e60000;
}

.child-user-label {
    top: -1rem !important;
}

.child-user-input {
    margin-top: 0 !important;
}