.child-user-container {
    margin: 1rem 0 0 1rem;

    .child-user-row {
        margin-top: 0.75rem;

        .user-input {
            margin: 0 0 0.75rem 0;
        }
    }

    .add-user-label {
        margin-top: 1rem;
    }

    input {
        border-color: lightgray;

        &:focus {
            background-color: lightgray;
        }
    }
}

@media (max-width: 575px) {
    .child-user-container .child-user-row {
        padding: 0.75rem;
        margin-top: 0.5rem;
        border: 1px solid lightgray;
        border-radius: 8px;

        .col-sm-auto {
            text-align: right;
        }
    }
}
