.table-container {
    display: flex;
    flex-direction: column;
    margin: 1rem 0 0 1rem;
}

.table-delete-user {
    background-color: lightgray;
    cursor: pointer;
    border-radius: 2rem;
    width: 2rem !important;
    height: 2rem !important; 
    transition: transform 250ms;
}

.table-delete-user:hover {
    background-color: red;
    cursor: pointer;
}

.table-delete-user:active {
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
}

.table-delete-user-minus {
    height: 2rem !important;
    width: 2rem !important;
    color: white;
}

.table-add-user-plus {
    height: 2rem !important;
    width: 2rem !important;
    color: white;
}

.user-button-border {
    height: 2.3rem;
    width: 2.3rem;
    border-radius: 2rem;
    justify-content: center;
    display: flex;
    align-items: center;
    background-color: white;
    box-shadow: 0px 10px 15px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0.12)
}

.table-add-user {
    display: flex;
    justify-content: center;
    border-radius: 2rem;
    height: 2rem;
    width: 2rem;
    background-color: #00c774;
    transition: transform 250ms;
}

.table-add-user:active {
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
 }

.table-end-item {
    flex-direction: row-reverse;
}

table {
    display: flex;
    justify-content: space-between;
}

td, tr {
    display: flex;
    flex: 1 1 0px;

}

tr {
    margin-top: 0.5rem;
    align-items: center;
}

.table-header {
    margin-top: 0.5rem;
}

input {
    border-color: lightgray;
}

input:focus {
    background-color: lightgray;
  }

.account-roles {
    justify-content: space-between;
}

.input-error {
    border-color: #e60000;
}