.App {
  text-align: center;
}


.App-header {
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  color: white;
}


@media (min-width: 480px) {
  .App-header {
    display: flex;
    flex-direction: column;
  }
  body {
    background-color: #282c34;
  }
}

@media (max-width: 479px) {
  body {
    background-color: white;
  }
}