.App {
  text-align: center;
}

.theme-light {
  --primary-mobile-color: #ffffff;
  --primary-color: #ffffff;
  --secondary-color: #282c34;
  --input-color: #ffffff;
  --input-font: #000000;
  --font-color: #000000;
  --header-font-color: #ffffff;
}

.theme-dark {
  --primary-mobile-color: #282c34;
  --primary-color: #282c34;
  --secondary-color: #181616;
  --input-color: #6e6e6e;
  --input-font: #000000;
  --font-color: #aaaaaa;
  --header-font-color: #ffffff;
}

.text{
  color: var(--font-color);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
}

a {
  color: var(--font-color);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
}

.header-text {
  color: var(--header-font-color);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;  
}

button {
  color: var(--header-font-color);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;  
}

input {
  background-color: var(--input-color) !important;
} */

/* Working on this one */
/* .MuiInputBase-input {
  background-color: var(--input-color) !important;
} */

.MuiExpansionPanelSummary-expandIcon {
  color: var(--font-color) !important;
}

.MuiInputBase-input{
  color: var(--font-color) !important;
}

.MuiFormLabel-root {
  color: var(--font-color) !important;
}

.MuiOutlinedInput-notchedOutline {
  border-color: var(--font-color) !important;
}

::placeholder {
  color: var(--input-font)
}

.MuiPaper-root {
  background-color: var(--primary-color) !important;
  color: var(--font-color) !important;
}


.App-header {
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  color: var(--primary-color);
}


@media (min-width: 480px) {
  .App-header {
    display: flex;
    flex-direction: column;
  }
  body {
    background-color: var(--secondary-color);
  }
}

@media (max-width: 479px) {
  body {
    background-color: var(--primary-mobile-color);
  }

  .body {
    animation: fadeInAnimation ease 1s;
    animation-iteration-count: 1; 
    animation-fill-mode: forwards; 
  }
}


@keyframes fadeInAnimation { 
  0% { 
      opacity: 0; 
  } 
  100% { 
      opacity: 1; 
   } 
} 